@model IEnumerable<Domain.Feedback>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trigger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PupilAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Trigger.TriggerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PupilAction.PupilActionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedbackName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeedbackId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FeedbackId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FeedbackId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
